.container {
  display: block;
  width: 80%;
  margin: 2em auto;
  align-items: center;
}

@media only screen and (max-width: 620px) {
  .container {
    width: 100%;
  }
}

.table {
  display: block;
  margin: 2em auto;
}

.table-row {
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
  justify-content: space-around;
}

@media only screen and (max-width: 620px) {
  .table-row {
    flex-flow: column wrap;
    align-items: center;
  }
}

.table-item {
  width: 50%;
  padding: 0.5em 0.5em;
  word-wrap: break-word;
}

@media only screen and (max-width: 620px) {
  .table-item {
    width: 80%;
  }
  p.tag {
    margin-left: 1em;
  }
}

.table-first-item {
  width: 20%;
  padding: 0.5em 0.5em;
  word-wrap: break-word;
}
